.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bold {
    font-weight: bold;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* Color palette */

.material-icons.green {
    color: #76ff03;
}

.material-icons.red {
    color: #ff1744;
}


/* div>a,
div>a:hover,
div>h2 {
    color: #e8eaf6;
} */

.default-bg {
    background-color: #e8eaf6;
}

.primary-bg {
    background-color: #283593;
}

.primary-light-bg {
    background-color: #5f5fc4;
}

.primary-dark-bg {
    background-color: #001064;
}

.primary-text {
    color: #e8eaf6;
}

.primary-text-dark {
    color: #26418f;
}

.btn.btn-primary,
.btn.btn-primary:hover {
    color: #fff;
}

.btn.btn-primary {
    background-color: #5c6bc0;
    border-color: #5561a1
}

.btn.btn-primary:hover {
    background-color: #26418f;
    border-color: #2c3c6d
}

.btn.btn-primary:focus {
    background-color: #8e99f3;
    border-color: #949cd8;
    box-shadow: 0 0 0 0.2rem #8e9af398;
}

.table .thead-primary th {
    color: #fff;
    background-color: #5c6bc0;
    border-color: #5561a1;
}

.white,
a.white,
a.white:hover {
    color: #ffffff;
}

.secondary-bg {
    background-color: #5c6bc0;
}

.secondary-light-bg {
    background-color: #8e99f3;
}

.secondary-dark-bg {
    background-color: #26418f;
}

.secondary-text {
    color: #c5cae9;
}